.popup.open {
  opacity: 1;
  visibility: visible;
}
body.lock {
  overflow: hidden;
}

.popup__btn {
  box-sizing: border-box;
  border: 1px solid rgb(176, 176, 176);
  padding-left: 30px;
  border-radius: 30px;

  color: rgb(176, 176, 176);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.popup__btn:focus {
  border: 1px solid rgb(251, 216, 70);

  color: rgb(51, 51, 51);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.popup__btn::placeholder {
  color: rgb(176, 176, 176);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 9999;
  visibility: hidden;
}
.popup__body {
  z-index: 9999;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background__modal-window {
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1042;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  overflow: hidden;
}
.call__card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 556px;
  height: 581px;
  padding: 29px 0 21px 33px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  h1 {
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 51px;
  }
  p {
    display: flex;
    gap: 12px;
    width: 491px;
    align-items: flex-start;
    color: rgb(34, 34, 34);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 52px;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  input {
    width: 490px;
    height: 66px;
    box-sizing: border-box;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 30px;
    margin-bottom: 34px;
    padding-left: 26px;
    color: rgb(51, 51, 51);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
  input:focus {
    border: 1px solid rgb(251, 216, 70);
  }
  input::placeholder {
    color: rgb(176, 176, 176);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
  .btn__modal {
    display: block;
    text-align: center;
    width: 490px;
    height: 67px;
    padding: 24px 0;
    border-radius: 30px;
    box-shadow: 5px 8px 5px 0px rgba(248, 204, 85, 0.1);
    background: linear-gradient(
      268.28deg,
      rgb(251, 216, 70) 0.021%,
      rgb(255, 232, 136) 99.967%
    );
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 20px;
  }
  span {
    display: block;
    width: 490px;
    height: 28px;
    color: rgb(115, 115, 115);
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
  }
  .call__close {
    position: absolute;
    cursor: pointer;
    top: 28px;
    right: 33px;
  }
}
.call {
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-success {
  position: relative;
  width: 555px;
  height: 366px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  padding-top: 18px;
  img {
    display: block;
    margin: 0 auto;
  }
  h1 {
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
    margin-bottom: 34px;
  }
  p {
    margin: 0 auto;
    max-width: 485px;
    color: rgb(136, 136, 136);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
  }
  .success__btn {
    position: absolute;
    top: 28px;
    right: 33px;
  }
}
/* #popup4 {
  opacity: 1;
  visibility: visible;
} */
#material__down {
  width: 118px;
  height: 34px;
}
#material__down-1 {
  width: 119px;
  height: 73px;
}
.material__bg {
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  width: 555px;
  height: 581px;
  padding: 29px 0 28px 32px;
  span {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 490px;
    height: 114px;
    padding: 13px 0 18px 26px;

    border-radius: 10px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
    margin-bottom: 34px;
    img {
      width: 95px;
      height: 83px;
    }
    p {
      width: 308px;

      color: rgb(51, 51, 51);
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
      text-align: left;
      text-transform: uppercase;
    }
  }
  .material__call {
    width: 490px;
    padding: 24px 0;

    border-radius: 30px;
    box-shadow: 5px 5px 10px 5px rgba(248, 204, 85, 0.1);
    background: linear-gradient(
      268.28deg,
      rgb(251, 216, 70) 0.021%,
      rgb(255, 232, 136) 99.967%
    );

    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    margin-bottom: 13px;
  }
  p {
    width: 490px;
    color: rgb(115, 115, 115);
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
  }
  .material__close {
    position: absolute;
    top: 28px;
    right: 33px;
  }
}
.popular-modal__popup {
  position: relative;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  width: 945px;
  height: 623.55px;
}
.popular-modal__close {
  position: absolute;
  top: 14px;
  right: 39px;
}
.material__input {
  width: 490px;
  height: 66px;
  margin-bottom: 34px;
}
.material__title-modal {
  text-align: left;
  margin-bottom: 41px;
}
